{% extends "wagtail_base.html" %}

{% block content %}

{% include "common/hero.html" %}

{% if page.body_html %}
  <section class="container content">
    {{ page.body_html|safe }}
  </section>
{% endif %}

<section class="container">
  <input
    type="search"
    name="q"
    placeholder="Search"
    hx-get="{{ search_url }}"
    hx-trigger="keyup changed delay:300ms, search"
    hx-target="#search-results"
    autocomplete="off"
  >
</section>

<section class="container" id="search-results"></section>

{% endblock %}
