{% extends "wagtail_base.html" %}

{% load static %}

{% block content %}

{% include "common/hero.html" %}

{% if page.body_html %}
  <section class="container content">
    {{ page.body_html|safe }}
  </section>
{% endif %}

<section class="container search-controls">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input
        type="search"
        class="input"
        name="q"
        placeholder="Search"
        hx-get="{{ search_url }}"
        hx-trigger="keyup changed delay:300ms, search{% if search_query %}, revealed{% endif %}"
        hx-target="#search-results"
        autocomplete="off"
        value="{{ search_query }}"
        hx-indicator="#search-indicator"
      >
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
      <span class="icon is-small is-right htmx-indicator" id="search-indicator">
        <i class="fas fa-circle-notch"></i>
      </span>
    </p>
  </div>

  <p>Showing <span id="result-count">0</span> results</p>
</section>

<section class="container" id="search-results"></section>

{% endblock %}

{% block extra_js %}
  <script async defer type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock %}
