{% extends "common/content_page.html" %}

{% block post_content %}
  <section class="container">
    {% for account in accounts %}
      <div class="card mt-4" id="{{ account.slug }}">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">
                <a href="{{ account.url }}">
                  {% if account.icon %}
                    <i class="{{ account.icon }}"></i>
                  {% endif %}
                  {{ account.name }}
                </a>
              </p>
              <p class="subtitle is-6">{{ account.username }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
