Django==4.1.10
wagtail==4.1.5
django-environ==0.10.0
whitenoise[brotli]==6.5.0
Pygments==2.16.1
beautifulsoup4==4.11.2
lxml==4.9.1
requests==2.31.0
wagtail-generic-chooser==0.5.1
django-rq==2.8.0
django-redis==5.3.0
gunicorn==21.2.0
psycopg2==2.9.6
djangorestframework
django-htmx==1.14.0
wagtail-metadata==4.0.3
django-plausible==0.5.0
sentry-sdk==1.29.2
django-sri==0.6.0
wagtail-2fa==1.6.5
django-health-check==3.17.0
wagtail-autocomplete==0.10.0
Wand==0.6.11
django3-cache-decorator==0.5.2
django-cors-headers==4.2.0
django-csp==3.7
django-permissions-policy==4.17.0
django-enforce-host==1.1.0
django-proxy==1.2.2

# DRF OpenAPI dependencies
uritemplate
PyYAML

# Use custom `wagtail-favicon` with performance improvements
git+https://github.com/RealOrangeOne/wagtail-favicon@4586efaac746085338fc7d61713006d9adc62d2e

# Use custom `wagtail-draftail-snippet` with support for Wagtail 4.1
git+https://github.com/RealOrangeOne/wagtail-draftail-snippet@0924ab12b1ca205b94ccd9a34ecc446d7ac422e5
