Django==4.2.16
wagtail==5.2.7
django-environ==0.11.2
whitenoise[brotli]==6.8.2
Pygments==2.18.0
beautifulsoup4[lxml]
requests
wagtail-generic-chooser==0.6
django-redis==5.4.0
granian[pname]==1.6.4
psycopg==3.2.3
djangorestframework
django-htmx==1.17.2
wagtail-metadata==5.0.0
django-plausible==0.5.0
sentry-sdk
django-sri==0.7.0
wagtail-2fa==1.6.9
django-health-check==3.17.0
wagtail-autocomplete==0.11.0
Wand==0.6.13
django3-cache-decorator==0.5.2
django-cors-headers==4.3.1
django-csp==3.7
django-permissions-policy==4.18.0
django-enforce-host==1.1.0
django-proxy==1.2.2
wagtail-lite-youtube-embed==0.1.0
django-minify-html==1.7.1
metadata-parser==0.12.1
django-tasks==0.6.0
lightningcss==0.2.0

# DRF OpenAPI dependencies
uritemplate
PyYAML
inflection

# Use custom `wagtail-favicon` with performance improvements
git+https://github.com/RealOrangeOne/wagtail-favicon@b892165e047b35c46d7244109b9ad9226d32a213

# Use custom `wagtail-draftail-snippet` with support for Wagtail 5.x
git+https://github.com/RealOrangeOne/wagtail-draftail-snippet@74ed858bd958a066d5aee295c9848257107b1546
