{% extends "common/listing_page.html" %}

{% load wagtailroutablepage_tags %}

{% block post_content %}
  <section class="container listing">
    {% for page in listing_pages %}
      {% ifchanged %}
        <h2 id="date-{{ page.date.year }}" class="date-header">
          <time datetime="{{ page.date.year }}" title="{{ page.date.year }}">
            {{ page.date.year }}
          </time>
        </h2>
      {% endifchanged %}

      {% include "common/listing-item.html" %}
    {% endfor %}
  </section>

  {% if listing_pages.has_other_pages %}
    <section class="container">
      <hr class="my-5" />
      {% include "common/pagination.html" with page=listing_pages %}
    </section>
  {% endif %}
{% endblock %}
