{% extends "common/content_page.html" %}

{% block hero_buttons %}
  <a class="button is-radiusless" href="{{ playlist.external_urls.spotify }}" title="Open on Spotify"><i class="fab fa-spotify" aria-hidden="true"></i></a>
  {{ block.super }}
{% endblock %}

{% block post_content %}
  <section class="container content">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Track</th>
          <th>Artist</th>
          <th>Album</th>
        </tr>
      </thead>
      <tbody>
        {% for track in playlist.tracks %}
          {% include "spotify/spotify-item.html" with track=track.track %}
        {% endfor %}
      </tbody>
    </table>
  </section>

  {% include "common/shareon.html" %}
{% endblock %}
