{% load static wagtailcore_tags wagtailuserbar navbar_tags footer_tags plausible_wagtail favicon_tags sri %}

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}{% endblock %}
      {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}:: {{ current_site.site_name }}{% endif %}
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% if not SEO_INDEX %}
      <meta name="robots" content="noindex" />
    {% endif %}

    {% favicon_meta %}

    {% block extra_head %}{% endblock %}

    <script async type="text/javascript" src="{% static 'js/ie11-deterrent.js' %}" integrity="{% sri_integrity_static 'js/ie11-deterrent.js' %}"></script>

    {% sri_static "css/base.css" %}
    {% sri_static "contrib/fontawesome/css/all.min.css" %}
    {% sri_static "contrib/fira-code/fira_code.css" %}

    {% block extra_css %}{% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% navbar %}

    {% block main %}
      <main>
        {% block main_content %}{% endblock %}
      </main>
    {% endblock %}

    {% footer %}

    <script async defer type="text/javascript" src="{% static 'js/base.js' %}" integrity="{% sri_integrity_static 'js/base.js' %}"></script>
    <script async defer type="text/javascript" src="{% static 'contrib/htmx/htmx.min.js' %}" integrity="{% sri_integrity_static 'contrib/htmx/htmx.min.js' %}"></script>

    {# Not async to avoid bright flashes #}
    <script type="text/javascript" src="{% static 'js/dark-mode.js' %}" integrity="{% sri_integrity_static 'js/dark-mode.js' %}"></script>

    {% block extra_js %}{% endblock %}

    {% if not request.user.is_authenticated or not request.is_preview %}
      {% plausible %}
    {% endif %}

  </body>
</html>
