{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}page-password-required{% endblock %}

{% block title %}Password required{% endblock %}

{% block extra_head %}<meta name="robots" content="noindex" />{% endblock %}

{% block main_content %}
  <h1 class="is-size-1 has-text-primary">
    <i class="fa-solid fa-lock"></i>
  </h1>
  <h1 class="is-size-3 has-text-weight-bold">Password required</h1>
  <p>You need a password to access this page.</p>

  <form action="{{ action_url }}" method="post" class="mt-5">
    {% csrf_token %}

    {{ form.non_field_errors }}
    {{ form.password.errors }}

    <div class="field">
      <input class="input is-medium" type="password" name="{{ form.password.html_name }}" required="" id="{{ form.password.id_for_label }}" placeholder="Password" />
    </div>

    {% for field in form.hidden_fields %}{{ field }}{% endfor %}

    <input class="button is-primary" type="submit" value="Submit" />
  </form>
{% endblock %}
