@mixin center-block {
  width: $embed-width;
  margin: 0 auto;

  max-width: $embed-width;
  min-width: $embed-width;
}

div.block-image {
  figcaption {
    font-size: 85%;
    margin-top: 5px;
  }

  figure {
    @include center-block;
  }
}

.content > div[class^="block-"] {
  &:not(:last-child) {
    margin-bottom: $content-block-margin-bottom;
  }
}

div.block-embed {
  lite-youtube {
    @include center-block;
  }
}
