@use "bulma/sass/utilities/initial-variables" as *;

$container-max-width: $widescreen;
$pre-background: unset;
$family-code: "Fira Code", monospace;
$dropdown-content-radius: 0px;
$dropdown-content-offset: 0px;
