body.page-homepage {
  main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $white;
    margin-bottom: 0;
  }

  h1 {
    font-size: 5rem;
  }

  .heading-wrapper {
    text-align: center;
  }

  .latest {
    padding: 0.25rem 0.5rem;
    margin-top: 2rem;
    background-color: color.adjust($dark, $alpha: -0.2);
    border-radius: $input-radius;
    max-width: 75%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &,
    strong,
    a {
      color: $white !important;
    }
  }

  input#search-input {
    width: 85%;
    margin-top: 15px;
    text-align: center;
    background-color: color.adjust($dark, $alpha: -0.2) !important;
    color: $white !important;

    &::placeholder {
      color: rgba(214 210 205 / 80%) !important;
    }

    &:focus {
      border-color: initial !important;
    }
  }

  #to-top {
    display: none;
  }
}
