.listing-item {
  border-top: none !important;
  max-height: 175px;

  .image-column {
    display: flex;
    align-items: center;
  }

  a.image {
    width: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 175px;
  }

  .title {
    margin-bottom: 0;
  }

  .content-details {
    font-size: 90%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .media-content .content {
    overflow: hidden;
  }

  .media-content {
    padding-left: 0;
    padding-right: 0;
  }

  .columns {
    width: 100%;
  }
}

.page-blogpostlistpage {
  .date-header {
    font-size: $size-2;
    font-weight: $weight-bold;
    margin-bottom: 1rem;

    &:not(:first-child) {
      margin-top: 2em;
    }
  }
}

nav.pagination {
  a.pagination-link,
  .pagination-next,
  .pagination-previous {
    @include dark-mode {
      background-color: $grey-darker;
      border-color: $black;
      color: $dark-mode-text;

      &:hover {
        border-color: $grey-dark;
      }

      &.is-current {
        background-color: $primary;
      }
    }
  }

  .pagination-ellipsis {
    @include dark-mode {
      color: $dark-mode-text;
    }
  }
}
