.listing-item {
  border-top: none !important;

  .image-column {
    display: flex;
    align-items: center;
  }

  a.image {
    width: 100%;
  }

  .media img {
    object-fit: cover;
    width: 100%;
    height: 175px;
  }

  .media {
    max-height: 175px;
  }

  .content-details {
    font-size: 80%;
    margin-top: $subtitle-negative-margin;
  }

  .media-content .content {
    overflow: hidden;
  }

  .media-content {
    padding-left: 0;
    padding-right: 0;
  }

  .columns {
    width: 100%;
  }
}

.page-blog-bloglistpage {
  .date-header {
    font-size: $size-2;
    font-weight: $weight-bold;
    margin-bottom: 1rem;
  }
}
