.navbar-item.home-link,
.navbar-item.navbar-icon {
  color: $grey-lighter;

  &:hover {
    color: $white;
  }
}

#dark-mode-toggle i {
  transition: transform 0.5s !important;

  @include dark-mode {
    transform: rotate(180deg);
  }
}
