body.page-password-required {
  height: 100vh;

  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    text-align: center;
  }

  form {
    width: 80%;
    max-width: 500px;
  }

  .input {
    text-align: center;

    @include dark-mode {
      background-color: color.adjust($dark, $alpha: -0.2);
      color: $dark-mode-text;

      &::placeholder {
        color: rgba(214 210 205 / 80%);
      }
    }
  }

  .errorlist {
    color: $danger;
    margin-bottom: 1rem;
  }

  h1,
  p {
    @include dark-mode {
      color: $dark-mode-text;
    }
  }
}
