@keyframes search-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body.page-searchpage {
  .search-controls {
    margin: 2rem auto;
    max-width: 80%;
  }

  #search-indicator {
    animation: search-loading 1.5s linear infinite;
  }
}
