.shareon-container {
  scroll-margin-top: var(--hero-height); // hero height (ish)
  margin-top: 1rem;

  .shareon {
    & > a,
    & > button {
      transition-property: opacity;
      transition-duration: $link-hover-duration;
    }
  }
}
