section#similar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  h2 {
    color: inherit;
  }

  .media {
    @include desktop {
      transform: scale(85%);
    }
  }
}
