section#similar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  h2 {
    color: inherit;
    margin-bottom: 0;
  }

  .view-all {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }

  .media {
    transform: scale(85%);
    margin-top: 0;
    padding-top: 0;
  }
}
