body.page-spotifyplaylistpage {
  table {
    font-size: 80%;
    background-color: transparent;

    td,
    th {
      vertical-align: middle;

      @include dark-mode {
        color: $dark-mode-text;
      }
    }

    tbody tr:hover {
      @include dark-mode {
        background-color: $grey-darker !important;
      }
    }

    img {
      min-width: 55px;
      width: 55px;
      height: 55px;
    }
  }
}
