@use "sass:math";

@use "variables" as *;
@use "bulma_overrides" as *;

@import "bulma/bulma";

@import "navbar";
@import "homepage";
@import "footer";
@import "hero";
@import "content";
@import "listing";
@import "blocks";
@import "shareon";
@import "search";

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-variant-ligatures: none;
}

main {
  margin-bottom: 2rem;
}

a {
  transition: color 0.25s, background-color 0.25s;
}
