@use "variables" as *;
@use "bulma_overrides" as *;

@import "bulma/bulma";

@import "navbar";
@import "homepage";
@import "footer";
@import "hero";
@import "content";
@import "listing";
@import "blocks";
@import "shareon";

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  margin-bottom: 2rem;
}
