{% extends "wagtail_base.html" %}

{% load static sri navbar_tags %}

{% block content %}
  {% if page.body_html %}
    <section class="container content">
      {{ page.body_html|safe }}
    </section>
  {% endif %}
{% endblock %}

{% block post_toc %}
  <hr class="dropdown-divider" />
  <li>
    <a href="#comments">Comments</a>
  </li>
{% endblock %}

{% block post_content %}
  {% if not request.is_preview %}
    {% include "common/shareon.html" %}

    {% include "common/comments.html" %}

    {% if not request.user.is_authenticated %}
      {% support_pill %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block extra_css %}
  {% sri_static "css/content-contrib.css" %}
  {% sri_static "contrib/shareon/shareon.min.css" %}

  <link rel="stylesheet" type="text/css" href="{% url 'code-block:styles' %}" />
{% endblock %}

{% block extra_js %}
  <script async defer type="text/javascript" src="{% static 'js/content.js' %}" integrity="{% sri_integrity_static 'js/content.js' %}"></script>
  <script async defer type="text/javascript" src="{% static 'contrib/shareon/shareon.iife.js' %}" integrity="{% sri_integrity_static 'contrib/shareon/shareon.iife.js' %}" init></script>
{% endblock %}
