{% load wagtailcore_tags wagtail_cache %}

{% wagtailpagecache FRAGMENT_CACHE_TTL "content-details" %}
<div class="content-details field is-grouped">
  {% if page.date %}
    <span class="icon-text">
      <span class="icon">
        <i class="far fa-lg fa-calendar-alt"></i>
      </span>
      <span>{{ page.date|date:"Y-m-d" }}</span>
    </span>
  {% endif %}

  {% if page.show_reading_time %}
    <div class="icon-text" {% if page.word_count %}title="{{ page.word_count }} words"{% endif %}>
      <span class="icon">
        <i class="far fa-lg fa-clock"></i>
      </span>
      <span>{{ page.reading_time_display }}</span>
    </div>
  {% endif %}

  {% if page.tags_list %}
    <div class="icon-text is-family-code">
      <span class="icon">
        <a href="{{ page.tag_list_page_url }}" title="View all tags">
          <i class="fas fa-lg fa-tags"></i>
        </a>
      </span>
      {% for tag in page.tags_list %}
        <span><a title="{{ tag.name }}" href="{% pageurl tag %}">#{{ tag.slug }}</a></span>
      {% endfor %}
    </div>
  {% endif %}

  {% if page.slides_url %}
    <span class="icon-text">
      <a href="{{ page.slides_url }}">
        <span class="icon">
          <i class="fas fa-lg fa-images"></i>
        </span>
        <span>Slides</span>
      </a>
    </span>
  {% endif %}

  {% if page.video_url %}
    <span class="icon-text">
      <a href="{{ page.video_url }}">
        <span class="icon">
          <i class="fas fa-lg fa-film"></i>
        </span>
        <span>Video</span>
      </a>
    </span>
  {% endif %}
</div>
{% endwagtailpagecache %}
