{% if page.date %}
  <span title="{{ page.date }}"><i class="far fa-calendar-alt"></i>{{ page.date|date:"Y-m-d" }}</span>
{% endif %}

{% if page.reading_time %}
  <span title="{{ page.word_count }} words"><i class="far fa-clock"></i>{{ page.reading_time }} minutes</span>
{% endif %}

{% spaceless %}
  {% if page.tags.all %}
    <span>
      <i class="fas fa-tags"></i>
      <div class="tags is-family-code">
        {% for tag in page.tags.all %}
          <span class="tag"><a title="{{ tag.name }}">#{{ tag.slug }}</a></span>
        {% endfor%}
      </div>
    <span>
  {% endif %}
{% endspaceless %}
