<div class="content-details field is-grouped is-grouped-multiline {{extra_classes}}">

  {% if page.date %}
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark"><i class="far fa-calendar-alt"></i></span>
        <span class="tag is-light">{{ page.date|date:"Y-m-d" }}</span>
      </div>
    </div>
  {% endif %}

  {% if page.reading_time %}
    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-dark"><i class="far fa-clock"></i></span>
        <span class="tag is-light" title="{{ page.word_count }} words">{{ page.reading_time }} minutes</span>
      </div>
    </div>
  {% endif %}

  {% if page.tags.all %}
    <div class="control page-tags">
      <div class="tags has-addons">
        <span class="tag is-dark"><i class="fas fa-tags"></i></span>
        {% for tag in page.tags.all %}
          <span class="tag is-white"><a title="{{ tag.name }}">#{{ tag.slug }}</a></span>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
