{% extends "wagtail_base.html" %}

{% load static sri %}

{% block content %}
  {% if page.body_html %}
    <section class="container content">
      {{ page.body_html|safe }}
    </section>
  {% endif %}
{% endblock %}

{% block post_content %}
  {% if not request.is_preview %}
    {% include "common/shareon.html" %}

    {% include "common/comments.html" %}
  {% endif %}
{% endblock %}

{% block extra_css %}
  {% sri_static "css/lite-youtube-embed.css" %}
  {% sri_static "contrib/shareon/shareon.min.css" %}
  {% sri_static "contrib/glightbox/glightbox.min.css" %}

  <link rel="stylesheet" type="text/css" href="{% url 'code-block:styles' %}" />
{% endblock %}

{% block extra_js %}
  <script async defer type="text/javascript" src="{% static 'js/lite-youtube-embed.js' %}" integrity="{% sri_integrity_static 'js/lite-youtube-embed.js' %}"></script>
  <script async defer type="text/javascript" src="{% static 'contrib/shareon/shareon.iife.js' %}" integrity="{% sri_integrity_static 'contrib/shareon/shareon.iife.js' %}" init></script>
  <script async defer type="text/javascript" src="{% static 'js/lightbox.js' %}" integrity="{% sri_integrity_static 'js/lightbox.js' %}"></script>
{% endblock %}
