{% load wagtailcore_tags static %}

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      &copy; <a href="{% pageurl homepage %}">TheOrangeOne</a> {% now "Y" %}
    </p>
    <p id="to-top" class="is-size-7">
      <a class="scroll-top">To top</a>
      <a
        id="to-top-elevator"
        data-main-audio="{% static 'contrib/elevator-js/elevator.mp3' %}"
        data-end-audio="{% static 'contrib/elevator-js/ding.mp3' %}"
      >
        <em>in style</em>
      </a>
    </p>
  </div>
</footer>
