{% load wagtailcore_tags static %}

<footer class="footer">
  <div class="content has-text-centered">
    {% if online_accounts %}
      <p class="is-size-4 icon-text">
        {% for online_account in online_accounts %}<a class="icon" href="{{ online_account.url }}" title="{{ online_account.name }}"><i class="{{ online_account.icon }}"></i></a>{% endfor %}
      </p>
    {% endif %}
    <p class="is-size-6">
      &copy; <a href="{{ homepage_url }}">TheOrangeOne</a> {% now "Y" %}
    </p>
    <p id="to-top" class="is-size-7">
      <a class="scroll-top" role="button">To top</a>
      <a role="button" id="to-top-elevator" data-main-audio="{% static 'contrib/elevator-js/elevator.mp3' %}" data-end-audio="{% static 'contrib/elevator-js/ding.mp3' %}">
        <em>in style</em>
      </a>
    </p>
  </div>
</footer>
