{% load wagtailimages_tags %}

{% if page.hero_image %}
  <img class="hero" src="{% image_url page.hero_image page.HERO_IMAGE_SIZE %}">
{% endif %}

<section class="hero">
  <div class="container">
    <div class="hero-body">
      <div class="columns">
        <div class="column">
          {% include "common/breadcrumbs.html" with parents=page.get_parent_pages %}
          <h1 class="title is-1">{{ page.title }}</h1>
          {% if page.subtitle %}
            <h2 class="subtitle">{{ page.subtitle }}</h2>
          {% endif %}
          <h3 class="is-size-6 content-details">
            {% if page.date %}
              <span title="{{ page.date }}"><i class="far fa-calendar-alt"></i>{{ page.date|date:"Y-m-d" }}</span>
            {% endif %}
            <span><i class="far fa-clock"></i>4 minutes</span>
            {% if page.tags.all %}
              <span class="is-family-code"><i class="fas fa-tags"></i>{% for tag in page.tags.all %}<a title="{{ tag.name }}">#{{ tag.slug }}</a>{% endfor %}</span>
            {% endif %}
          </h3>
        </div>
        <div class="column is-narrow dropdown-wrapper is-hidden-touch is-grouped">
          {% if page.table_of_contents %}
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <button class="button is-radiusless" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>Table of Contents</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content menu">
                  <ul class="menu-list">
                    {% for toc_item in page.table_of_contents %}
                      {% include "common/toc-item.html" %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endif %}

          <button class="button is-radiusless" id="scroll-top">Top <i class="fas fa-angle-up ml-2" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>
