{% extends "common/content_page.html" %}

{% load wagtailadmin_tags wagtailroutablepage_tags %}

{% block hero_buttons %}
  <a class="button is-radiusless" href="{% routablepageurl page 'random' %}" title="View random"><i class="fas fa-dice" aria-hidden="true"></i></a>

  {% if listing_pages.has_previous %}
    <a class="button is-radiusless" href="{% querystring page=listing_pages.previous_page_number %}" title="Previous page"><i class="fas fa-arrow-left" aria-hidden="true"></i></a>
  {% endif %}

  {% if listing_pages.has_next %}
    <a class="button is-radiusless" href="{% querystring page=listing_pages.next_page_number %}" title="Next page"><i class="fas fa-arrow-right" aria-hidden="true"></i></a>
  {% endif %}

  {{ block.super }}
{% endblock %}

{% block content_details %}
  {{ block.super }}

  {% if listing_pages.has_other_pages %}<p>Showing {{ listing_pages.start_index }}&mdash;{{ listing_pages.end_index }} of {{ listing_pages.paginator.count }}.</p>{% endif %}
{% endblock %}

{% block post_content %}
  <section class="container">
    {% for page in listing_pages %}
      {% block listing_item %}
        {% include "common/listing-item.html" %}
      {% endblock %}
    {% endfor %}
  </section>

  {% if listing_pages.has_other_pages %}
    <section class="container">
      <hr class="my-5" />
      {% include "common/pagination.html" with page=listing_pages %}
    </section>
  {% endif %}
{% endblock %}
