{% load wagtailcore_tags wagtailimages_tags %}

<article class="media listing-item">
  <div class="columns">
    <figure class="media-left column is-3 image-column">
      <a href="{% pageurl page %}" class="image">
        <img src="{% image_url page.hero_image 'width-300' %}">
      </a>
    </figure>
    <div class="media-content column">
      <div>
        <h2 class="title is-3"><a href="{% pageurl page %}">{{ page.title }}</a></h2>
        <h3 class="subtitle is-6 content-details">{% include "common/content-details.html" %}</h3>
        {% lorem 1 p %}
      </div>
    </div>
  </div>
</article>
