{% load wagtailcore_tags wagtailimages_tags %}

<article class="media listing-item">
  <div class="columns">
    <figure class="media-left column is-3 image-column">
      {% if page.hero_image %}
        <a href="{% pageurl page %}" class="image">
          <img src="{% image_url page.hero_image 'width-300' %}">
        </a>
      {% endif %}
    </figure>
    <div class="media-content column">
      <div>
        <h2 class="title is-3"><a href="{% pageurl page %}">{{ page.title }}</a></h2>
        {% include "common/content-details.html" %}
        {% lorem 1 p %}
      </div>
    </div>
  </div>
</article>
