{% load wagtailcore_tags %}

<nav class="navbar has-background-black has-text-white" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-white is-family-code" href="{% pageurl homepage %}">
      /home/theorangeone
    </a>

    <a role="button" class="navbar-burger" id="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu has-background-black is-family-code">
    <div class="navbar-start">
      {% for nav_page in nav_pages %}
        <a class="navbar-item has-text-grey" href="{% pageurl nav_page %}">
          ~/{{ nav_page.slug }}
        </a>
      {% endfor %}
    </div>

    <div class="navbar-end is-hidden-touch mr-2">
      <a class="navbar-item has-text-white">
        <span class="icon">
          <i class="fab fa-github" aria-hidden="true"></i>
        </span>
      </a>
      <a class="navbar-item has-text-white" id="search-button">
        <span class="icon">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </a>
    </div>
  </div>
  </div>
</nav>
