{% load wagtailcore_tags %}

<nav class="navbar is-family-code" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item home-link" href="{{ homepage_url }}">
      /home/theorangeone
    </a>

    <a role="button" class="navbar-burger" id="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      {% for nav_page in nav_pages %}
        <a class="navbar-item" href="{% pageurl nav_page %}">
          ~/{{ nav_page.slug }}
        </a>
      {% endfor %}
    </div>

    <div class="navbar-end is-hidden-touch mr-2">
      <a class="navbar-item navbar-icon is-link" id="dark-mode-toggle" title="Toggle dark mode">
        <span class="icon">
          <i class="fa-solid fa-circle-half-stroke" aria-hidden="true"></i>
        </span>
      </a>
      {% if search_page_url %}
        <a class="navbar-item navbar-icon" href="{{ search_page_url }}" title="search">
          <span class="icon">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
        </a>
      {% endif %}
    </div>
  </div>
</nav>
