{% load wagtailadmin_tags %}

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {% if page.has_previous %}
    <a class="pagination-previous" href="{% querystring page=page.previous_page_number %}">&larr;</a>
  {% else %}
    <a class="pagination-previous is-disabled">&larr;</a>
  {% endif %}

  {% if page.has_next %}
    <a class="pagination-next" href="{% querystring page=page.next_page_number %}">&rarr;</a>
  {% else %}
    <a class="pagination-next is-disabled">&rarr;</a>
  {% endif %}

  <ul class="pagination-list">
    {% if page.has_previous and page.previous_page_number != 1 %}
      <li>
        <a class="pagination-link" aria-label="Goto page 1" href="{% querystring page=1 %}">1</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
    {% endif %}

    {% if page.has_previous %}
      <li>
        <a class="pagination-link" aria-label="Goto page {{ page.previous_page_number }}" href="{% querystring page=page.previous_page_number %}">{{ page.previous_page_number }}</a>
      </li>
    {% endif %}

    <li>
      <a class="pagination-link is-current" aria-label="Page {{ page.number }}" aria-current="page">{{ page.number }}</a>
    </li>

    {% if page.has_next %}
      <li>
        <a class="pagination-link" aria-label="Goto page {{ page.next_page_number }}" href="{% querystring page=page.next_page_number %}">{{ page.next_page_number }}</a>
      </li>
    {% endif %}

    {% if page.has_next and page.next_page_number != page.paginator.num_pages %}
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page {{ page.paginator.num_pages }}" href="{% querystring page=page.paginator.num_pages %}">{{ page.paginator.num_pages }}</a>
      </li>
    {% endif %}
  </ul>
</nav>
