{% load util_tags %}

<section class="container has-text-centered shareon-container">
  <p>Share this page</p>
  <div class="shareon" data-title="{{ page.title }}" data-url="{% pagefullurl page %}">
    <a class="facebook" title="Share on Facebook"></a>
    <a class="linkedin" title="Share on LinkedIn"></a>
    <a class="mastodon" title="Share on Mastodon"></a>
    <a class="pinterest" title="Share on Pintrest"></a>
    <a class="pocket" title="Share on Pocket"></a>
    <a class="reddit" title="Share on Reddit"></a>
    <a class="teams" title="Share on Teams"></a>
    <a class="telegram" title="Share on Telegram"></a>
    <a class="twitter" title="Twitter"></a>
    <a class="whatsapp" title="Share on WhatsApp"></a>
    <a class="email" title="Share by email"></a>
    <a role="button" class="copy-url" title="Copy URL"></a>
    <a role="button" class="web-share" title="Share"></a>
  </div>
</section>
