@weekly ./manage.py update_index
@daily ./manage.py clearsessions
@daily ./manage.py update_unsplash_photos
@weekly ./manage.py refresh_model_property_cache
*/10 * * * * ./manage.py publish_scheduled_pages
