{% extends "wagtail_base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}
  <main {% if page.image %}style="background-image: url({% image_url page.image 'width-1200' %})"{% endif %}>
    <div class="heading-wrapper">
      <h1>{{ page.heading }}</h1>
      {% if search_page_url %}
        <form action="{{ search_page_url }}">
          <input id="search-input" class="input" type="text" placeholder="Search" name="q" />
        </form>
      {% endif %}
    </div>

    {% if latest_blog_post %}
      <div class="box latest">
        <strong>Latest Post</strong>:
        <a href="{{ latest_blog_post.1 }}">{{ latest_blog_post.0 }}</a>
        &rarr;
      </div>
    {% endif %}
  </main>
{% endblock %}
