{% extends "wagtailmetadata/parts/tags.html" %}

{% load humanize_tags %}

{% block twitter %}
  {{ block.super }}
  {% if object.show_reading_time %}
    <meta name="twitter:label1" content="Reading time" />
    <meta name="twitter:data1" content="{{ object.reading_time|naturaldelta }}" />
  {% endif %}
{% endblock %}

{% block opengraph %}
  {{ block.super }}

  <meta name="article:modified_time" content="{{ object.last_published_at|date:'c' }}" />
  {% if object.date %}<meta name="article:published_time" content="{{ object.date|date:'c' }}" />{% endif %}
{% endblock %}

{% block meta %}
  {{ block.super }}
  <link rel="canonical" href="{{ object.get_meta_url }}" />
  <meta name="color-scheme" content="dark light" />
{% endblock %}
