{% load static wagtailcore_tags wagtailuserbar navbar_tags footer_tags cache %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}{% endblock %}
      {% block title_suffix %}
      {% wagtail_site as current_site %}
      {% if current_site and current_site.site_name %}:: {{ current_site.site_name }}{% endif %}
      {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'contrib/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'contrib/fira-code/fira_code.css' %}">

    {% block extra_css %}{% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% cache 3600 "navbar" %}
      {% navbar %}
    {% endcache %}

    {% block main %}
      <main>
        {% block content %}{% endblock %}
      </main>
    {% endblock %}

    {% cache 3600 "footer" %}
      {% footer %}
    {% endcache %}


    <script async defer type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script async defer type="text/javascript" src="{% static 'contrib/htmx/htmx.min.js' %}"></script>

    {% block darkmode %}
      <script type="text/javascript" src="{% static 'js/darkreader.js' %}"></script>
    {% endblock %}

    {% block extra_js %}{% endblock %}

  </body>
</html>
