{% extends "common/content_page.html" %}

{% load wagtail_cache navbar_tags %}

{% block post_content %}
  {% if not request.is_preview %}
    {% include "common/shareon.html" %}

    {% wagtailpagecache FRAGMENT_CACHE_TTL "similar-content" %}
    <section class="container similar-content" id="similar-content">
      <h2 class="subtitle is-size-2">Similar content</h2>

      <p class="view-all">
        <a href="{{ page.blog_post_list_page_url }}">View all &rarr;</a>
      </p>

      {% for page in page.get_similar_posts %}
        {% block listing_item %}
          {% include "common/listing-item.html" %}
        {% endblock %}
      {% endfor %}

    </section>
  {% endwagtailpagecache %}

  {% include "common/comments.html" %}

  {% if not request.user.is_authenticated %}
    {% support_pill %}
  {% endif %}
{% endif %}
{% endblock %}
