{% extends "common/content_page.html" %}

{% load wagtailroutablepage_tags %}

{% block extra_css %}
  <link rel="alternate" type="application/rss+xml" href="{% routablepageurl page 'feed' %}">
{% endblock %}

{% block hero_buttons %}
  <a class="button is-radiusless" href="{% routablepageurl page 'feed' %}" title="View feed"><i class="fas fa-rss" aria-hidden="true"></i></a>
  {{ block.super }}
{% endblock %}

{% block post_content %}
  <section class="container">
    {% for page in pages %}
      {% ifchanged %}
        <time datetime="{{ page.date|date:'Y-m' }} title='{{ page.date|date:"F Y" }}'>
          <h3 id="{{ page.date|date:'Y-m' }}" class="date-header">{{ page.date|date:"Y-m" }}</h3>
            </time>
      {% endifchanged %}

      {% include "common/listing-item.html" %}
    {% endfor %}
    </section>

    {% if pages.has_other_pages %}
      <section class="container">
        <hr class="my-5" />
          {% include "common/pagination.html" %}
          </section>
    {% endif %}
{% endblock %}
