{% extends "common/content_page.html" %}

{% load wagtailroutablepage_tags %}

{% block extra_head %}
  <link rel="alternate" type="application/rss+xml" href="{% routablepageurl page 'feed' %}">
{% endblock %}

{% block hero_buttons %}
  <a class="button is-radiusless" href="{% routablepageurl page 'feed' %}" title="View feed"><i class="fas fa-rss" aria-hidden="true"></i></a>
  {{ block.super }}
{% endblock %}

{% block post_content %}
  <section class="container">
    {% for page in child_pages %}
      {% if not filtering_by_tag %}
        {% ifchanged %}
          <time datetime="{{ page.date|date:'c' }}" title='{{ page.date|date:"F Y" }}'>
            <h3 id="{{ page.date|date:'Y-m' }}" class="date-header">{{ page.date|date:"Y-m" }}</h3>
          </time>
        {% endifchanged %}
      {% endif %}

      {% include "common/listing-item.html" %}
    {% endfor %}
  </section>
{% endblock %}
