{% extends "common/content_page.html" %}

{% block post_content %}
  <section class="container">
    {% for page in child_pages %}
      {% if not filtering_by_tag %}
        {% ifchanged %}
          <time datetime="{{ page.date|date:'c' }}" title='{{ page.date|date:"F Y" }}'>
            <h3 id="{{ page.date|date:'Y-m' }}" class="date-header">{{ page.date|date:"Y-m" }}</h3>
          </time>
        {% endifchanged %}
      {% endif %}

      {% include "common/listing-item.html" %}
    {% endfor %}
  </section>
{% endblock %}
