{% extends "common/listing_page.html" %}

{% load wagtailcore_tags %}

{% block listing_item %}
  <div class="card mt-4">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">
            <a href="{% pageurl page %}">{{ page.title }}</a>
          </p>
          <p class="subtitle is-6">{{ page.summary }}</p>
        </div>
        <div class="media-right">
          {% with posts_count=page.get_listing_pages.count %}<p class="subtitle is-6 has-text-weight-light">{{ posts_count }} post{{ posts_count|pluralize }}</p>{% endwith %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
