{% extends "common/listing_page.html" %}

{% load wagtailroutablepage_tags %}

{% block hero_buttons %}
  <a class="button is-radiusless" href="{{ page.tag_list_page_url }}" title="View tags"><i class="fas fa-tags" aria-hidden="true"></i></a>
  {{ block.super }}
{% endblock %}

{% block post_content %}
  <section class="container">
    {% for page in listing_pages %}
      {% ifchanged %}
        <h2 id="date-{{ page.date|date:'Y-m' }}" class="date-header">
          <time datetime="{{ page.date|date:'Y-m' }}" title="{{ page.date|date:'F Y' }}">
            {{ page.date|date:"Y-m" }}
          </time>
        </h2>
      {% endifchanged %}

      {% include "common/listing-item.html" %}
    {% endfor %}
  </section>

  {% if listing_pages.has_other_pages %}
    <section class="container">
      <hr class="my-5" />
      {% include "common/pagination.html" with page=listing_pages %}
    </section>
  {% endif %}
{% endblock %}
